@media screen and (max-width: 540px) {


#job-info {
    float: left;
    display: block;
    text-align: left;
    padding: 15px 18px;
    text-decoration: none;
}
.job{
  grid-template-columns: 1fr;
}
.myimg{
  display: none;
}
}